<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=33fb19e7-63ad-43c2-9ae1-a33c007b7273.sqlserver.sequelizer.com;Database=db33fb19e763ad43c29ae1a33c007b7273;User ID=nqnmzmyyfykibpdv;Password=PUuRCcwYPMJ6yMnraxHL7PsYCzSw36vEkhCTkkkCqQWq4bHFSgtNbE3aBDods85R;"/>
    
  </connectionStrings>
</configuration>
